<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show All Faculty</title>
    <link rel="icon" href="/public/logo.png" type="image/icon type">

    <script src="/public/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="/public/themes/bootstrap-3/css/bootstrap.min.css">

    <link rel="stylesheet" href="/public/themes/fontawesome/css/fontawesome.min.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/public/styles.css" rel="stylesheet">
    <script src="/public/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/styles.css">
    <script src="/views/adminpanel/facultysection/showfaculty/script.js"></script>


</head>
<body>
<div class="container">
    <div class="bg-green" style="text-align: center">

        <h3 style="width: 50%; margin: 0 auto; text-align: center">University Management System</h3>

    </div>

    <div class="bg-green" style="text-align: center">

        <h3 style="width: 50%; margin: 0 auto; text-align: center">Faculty List</h3>

    </div>

    <div class="table-responsive-sm">
        <table id="tblStudents" class="table table-light table-hover table-striped table-bordered border-danger"
               cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Designation</th>
                <th>Department</th>

            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>