<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <meta name="author" content="Samnoon">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!--
  <script src="script.js"></script>
  -->
  <meta name="description" content="">

  <!-- Tailwind -->
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

    .font-family-karla {
      font-family: karla;
    }
  </style>

</head>
<body class="bg-white font-family-karla h-screen">

<div class="w-full flex flex-wrap">

  <!-- Login Section -->
  <div class="w-full md:w-1/2 flex flex-col">

    <div class="flex justify-center md:justify-center pt-12 md:pl-12 md:-mb-24">
      <img src="logo.png" alt="logo" height="60" width="70">
    </div>

    <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
      <p class="text-center text-3xl">BAIUST Teacher Portal</p>
      <form class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
        <div class="flex flex-col pt-4">
          <label for="email" class="text-lg">Faculty Email</label>
          <input type="email" id="email" placeholder="Enter email..." class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div class="flex flex-col pt-4">
          <label for="password" class="text-lg">Password</label>
          <input type="password" id="password" placeholder="Enter Your Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <Button id="submit" type="submit" value="Log In" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">Login</Button>
      </form>



    </div>

  </div>

  <!-- Image Section -->
  <div class="w-1/2 shadow-2xl">
    <img class="object-cover w-full h-screen hidden md:block" src="./Baiust.jpg">
  </div>
</div>
<script>
  $( document ).ready(function() {
    console.log( "ready!" );
    $("#submit").click(() => {
      $(this).data('clicked', true);
      console.log("clicked");
      function send() {
        let teacher = {
          email: $("#email").val().toString(),
        }
        $("#submit").html("Submitting");

        $.ajax({
          url: "http://localhost:3000/teacher/find/teacher",
          type: "post",
          dataType: "json",

          contentType: "application/json",
          success: function (data) {
            const newData = data.password.toString();
            const pass = $("#password").val().toString();
            console.log(newData);
            console.log(pass);
            if(newData === pass){
              localStorage.setItem("email", $("#email").val());

              window.location.replace("teacherdashboard/teacherdashboard.html");
            }
            else{
              alert("Wrong Credentials");
              $("#email").val("");
              $("#password").val("");
            }
          },
          data: JSON.stringify(teacher)
        });
      }
      send();
    });

  });
</script>
</body>
</html>