<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <script src="/public/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/public/themes/bootstrap-3/css/bootstrap.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/public/logo.png" type="image/icon type">

    <link href="/public/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/themes/fontawesome/css/fontawesome.min.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

    <script src="/public/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
<div class="container">
    <div class="bg-green" style="text-align: center">
        <h4 style="width: 50%; margin: 0 auto; text-align: center">Bangladesh Army International University of Science and Technology</h4>
        <h4 style="width: 50%; margin: 0 auto; text-align: center">Faculty Portal</h4>
    </div>
    <div class="row">
        <div class="column">
        <div class="col-lg-3 col-sm-12">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3>Add class test marks</h3>
                    <p> Add files </p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a href="/views/teacher/classtest" class="card-box-footer">View More <i
                            class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        </div>
        <div class="column">
        <div class="col-lg-3 col-sm-12">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3>Add Assessment marks</h3>
                    <p> Add files </p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a href="/views/teacher/assessment" class="card-box-footer">View More <i
                            class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        </div>
    </div>

</div>
</body>
</html>