<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add class test</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="bg-green" style="text-align: center">

        <h2 style="width: 100%; margin: 0 auto; text-align: center">Teacher Panel</h2>

    </div>
    <div class="bg-green" style="text-align: center">

        <h2 style="width: 100%; margin: 0 auto; text-align: center">CT Marks File Upload</h2>

    </div>


    <h1>File Upload</h1>
    <form id='form'>
        <div class="input-group">
            <label>Course Code</label>
            <input type="text" id="code" placeholder="Enter Course Code" class="form-control mb-3 required">

        </div>
        <div class="input-group">
            <label>CT No:</label>
            <input type="number" id="ct" placeholder="Enter Number of CT Taken" class="form-control mb-3 required">

        </div>
        <div class="input-group">
            <label for='files'>Select assessment files</label>
            <input id='files' type="file" multiple>
        </div>
        <button id="submit" class="submit-btn" type='submit'>Upload</button>
    </form>

</div>
<script src="script.js"></script>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</body>
</html>