<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <!-- Latest compiled and minified CSS -->

    <script src="/public/jquery-3.6.0.min.js"></script>
    <script src="/views/studentpanel/registercourses/script.js"></script>
    <link rel="stylesheet" href="/public/themes/bootstrap-3/css/bootstrap.min.css">
    <link rel="icon" href="/public/logo.png" type="image/icon type">

    <link rel="stylesheet" href="/public/themes/fontawesome/css/fontawesome.min.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/public/styles.css" rel="stylesheet">
    <script src="/public/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
<div class="container">
    <div class="bg-green" style="text-align: center">

        <h2 style="width: 50%; margin: 0 auto; text-align: center">University Management System</h2>
        <h2 style="width: 50%; margin: 0 auto; text-align: center">Student Registration</h2>
    </div>
    <div class="container">
        <h4>Select Courses: </h4>
    </div>
    <div class="row">
        <select multiple size="10" id="courses">

        </select>
    </div>
    <button id="add" class="btn btn-success">Submit</button>


</div>
</body>
</html>