<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Menu</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="bg-green" style="text-align: center">

    <h2 style="width: 50%; margin: 0 auto; text-align: center">University Management System</h2>
    <h2 style="width: 50%; margin: 0 auto; text-align: center">Student Panel</h2>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <div class="card-box bg-blue">
        <div class="inner">
          <h3>Student Dashboard</h3>
          <p> Get registration details </p>
        </div>
        <div class="icon">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </div>
        <a href="../studentdashboard/studentdashboard.html" class="card-box-footer">View More <i
                class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card-box bg-green">
        <div class="inner">
          <h3>View Current Courses</h3>
          <p> Get courses for current semester </p>
        </div>
        <div class="icon">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <a href="../viewcurcourses/curcourses.html" class="card-box-footer">View More <i
                class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>




    <div class="col-lg-3 col-sm-12">
      <div class="card-box bg-orange">
        <div class="inner">
          <h3>Files Section</h3>
          <p>Download Necessary Files</p>
        </div>
        <div class="icon">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <a href="#" class="card-box-footer">View More <i
                class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>



</div>
</body>
</html>