<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Menu</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/public/themes/bootstrap-3/css/bootstrap.min.css">
    <link href="/public/themes/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/public/styles.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/public/logo.png" type="image/icon type">

    <link href="/public/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="bg-green" style="text-align: center">
        <h4 style="width: 50%; margin: 0 auto; text-align: center">Bangladesh Army International University of Science and Technology</h4>

        <h4 style="width: 50%; margin: 0 auto; text-align: center">Student Portal</h4>
    </div>
    <div class="row">
        <div class="column">
        <div class="col-lg-3 col-sm-12">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3>Student Dashboard</h3>
                    <p> Get registration details </p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a href="./student/dashboard" class="card-box-footer">View More <i
                            class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3>View Current Courses</h3>
                    <p> Get courses for current semester </p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <a href="./student/courses" class="card-box-footer">View More <i
                            class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        </div>
        <div class="column">

        <div class="col-lg-3 col-sm-12">
            <div class="card-box bg-mati">
                <div class="inner">
                    <h3>Register Courses</h3>
                    <p> Register courses for current semester </p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <a href="./student/register" class="card-box-footer">View More <i
                            class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        </div>

    </div>


</div>
</body>
</html>