<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses Dashboard</title>
    <script src="/public/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="/public/logo.png" type="image/icon type">

    <link rel="stylesheet" href="/public/themes/bootstrap-3/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/public/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/themes/fontawesome/css/fontawesome.min.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/public/styles.css" rel="stylesheet">
    <script src="/public/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
<div class="container">
    <div class="bg-green" style="text-align: center">
        <h4 style="width: 50%; margin: 0 auto; text-align: center">Bangladesh Army International University of Science and Technology</h4>

    </div>
    <div class="row">
        <div class="column">
        <div class="col-lg-3 col-sm-12">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3>View All Courses</h3>
                    <p> View Course Informations </p>
                </div>
                <div class="icon">
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                </div>
                <a href="/views/admin/course/show" class="card-box-footer">View More <i
                            class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3>Add Courses</h3>
                    <p> Add new courses</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a href="/views/admin/course/add" class="card-box-footer">View More <i
                            class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        </div>
        <div class="column">
        <div class="col-lg-3 col-sm-12">
            <div class="card-box bg-orange">
                <div class="inner">
                    <h3>Delete Course</h3>
                    <p> Delete a existing course</p>
                </div>
                <div class="icon">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </div>
                <a href="/views/admin/course/remove" class="card-box-footer">View More <i
                            class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="card-box bg-red">
                <div class="inner">
                    <a href="/views/admin/faculty" class="card-box-footer" id="back">Back to previous menu <i
                                class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>