<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Dashboard</title>
    <meta name="author" content="name">
    <link rel="icon" href="/public/logo.png" type="image/icon type">

    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <script src="/public/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <script src="/views/studentpanel/studentdashboard/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
            integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

</head>


<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">

<!--Nav-->
<nav class="bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">

    <div class="flex flex-wrap items-center">
        <div class="flex flex-shrink md:w-1/3 justify-center md:justify-start text-white">
            <a href="#">
                <img src="../logo.png" alt="Logo" height="70" width="60"/>
            </a>
        </div>

        <div class="flex flex-1 md:w-1/3 justify-center md:justify-start text-white px-2">
            <Label>Bangladesh Army International University of Science And Technology</Label>
        </div>

        <div class="flex w-full pt-2 content-center justify-between md:w-1/3 md:justify-end">
            <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                <li class="flex-1 md:flex-none md:mr-3">
                    <a class="inline-block py-2 px-4 text-white no-underline" href="#">Active</a>
                </li>

                <li class="flex-1 md:flex-none md:mr-3">
                    <div class="relative inline-block">
                        <button onclick="toggleDD('myDropdown')" class="drop-button text-white focus:outline-none"><span
                                    class="pr-2"></span> Welcome
                            <svg class="h-3 fill-current inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                            </svg>
                        </button>
                        <div id="myDropdown"
                             class="dropdownlist absolute bg-gray-800 text-white right-0 mt-3 p-3 overflow-auto z-30 invisible">
                            <input type="text" class="drop-search p-2 text-gray-600" placeholder="Search.." id="myInput"
                                   onkeyup="filterDD('myDropdown','myInput')">
                            <a href="#"
                               class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                                        class="fa fa-user fa-fw"></i> Profile</a>
                            <a href="#"
                               class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                                        class="fa fa-cog fa-fw"></i> Settings</a>
                            <div class="border border-gray-800"></div>
                            <a href="#"
                               class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                                        class="fas fa-sign-out-alt fa-fw"></i> Log Out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</nav>


<div class="flex flex-col md:flex-row">
    <!--
      <div class="bg-gray-800 shadow-xl h-16 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48">

        <div class="md:mt-12 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
          <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
            <li class="mr-3 flex-1">
              <a href="studentdashboard.html" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-pink-500">
                <i class="fas fa-tasks pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Student Profile</span>
              </a>
            </li>
            <li class="mr-3 flex-1">
              <a href="../pages/allinfo/index.html" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
                <i class="fa fa-envelope pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">All Info</span>
              </a>
            </li>
            <li class="mr-3 flex-1">
              <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-blue-600">
                <i class="fas fa-chart-area pr-0 md:pr-3 text-blue-600"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Registration Info</span>
              </a>
            </li>
            <li class="mr-3 flex-1">
              <a href="../pages/newreg/index.html" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
                <i class="fa fa-wallet pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">View Courses</span>
              </a>
            </li>
            <li class="mr-3 flex-1">
              <a href="../pages/myclasses/index.html" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
                <i class="fa fa-wallet pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">My Classes</span>
              </a>
            </li>
            <li class="mr-3 flex-1">
              <a href="../pages/payment/index.html" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
                <i class="fa fa-wallet pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Payment</span>
              </a>
            </li>
            <li class="mr-3 flex-1">
              <a href="../pages/admitcard/index.html" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
                <i class="fa fa-wallet pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Admit Card</span>
              </a>
            </li>
            <li class="mr-3 flex-1">
              <a href="../pages/attendence/index.html" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
                <i class="fa fa-wallet pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Attendence</span>
              </a>
            </li>
            <li class="mr-3 flex-1">
              <a href="../pages/semesterresult/index.html" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
                <i class="fa fa-wallet pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Semester Result</span>
              </a>
            </li>
          </ul>
        </div>


      </div>
    -->
    <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

        <div class="bg-gray-800 pt-3">
            <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
                <h3 class="font-bold pl-2">Student Details</h3>
            </div>
        </div>


        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 xl:w-1/3 p-6">
                <!--Metric Card-->
                <div class="bg-gradient-to-b from-green-200 to-green-100 border-b-4 border-green-600 rounded-lg shadow-xl p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded-full p-5 bg-green-600"><i class="fa fa-wallet fa-2x fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-600">Payment Status</h5>
                            <h3 id="payment_header" class="font-bold text-3xl"><span class="text-green-500"><i
                                            class="fa fa-check-square"></i></span></h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-6">
                <!--Metric Card-->
                <div class="bg-gradient-to-b from-yellow-200 to-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-xl p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded-full p-5 bg-yellow-600"><i class="fas fa-tasks fa-2x fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-600">Current CGPA</h5>
                            <h3 id="cgpa_header" class="font-bold text-3xl"><span class="text-yellow-600"><i
                                            class="fas fa-caret-up"></i></span></h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>

        </div>


        <div class="flex flex-wrap">

            <div class="w-full md:w-1/2 xl:w p-6">


                <div class="flex flex-col">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">

                                    <thead class="bg-gray-100">

                                    </thead>

                                    <tbody class="bg-white divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Name:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="name" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Department:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="dept" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        ID
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="id" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Religion:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="religion" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Blood Group:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="blood" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>


                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Date Of Birth:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="dob" class="text-lg text-gray-900">Loading</div>
                                        </td>

                                    </tr>


                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Mobile:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="mobile" class="text-lg text-gray-900">Loading</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Email:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="email" class="text-lg text-gray-900">Loading</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Gender:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="gender" class="text-lg text-gray-900">Loading</div>
                                        </td>

                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="w-full md:w-1/2 xl:w p-6">


                <div class="flex flex-col">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">

                                    <thead class="bg-gray-100">

                                    </thead>

                                    <tbody class="bg-white divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Father's Name:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="faname" class="text-lg text-gray-900">Loading</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Father's Profession:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="faprof" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Mother's Name:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="moname" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Mother's Profession:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="moprof" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Guardian:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="guardian_name" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Guardian Mobile No:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="guardian_mobile" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>


                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Present Address:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="present" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Permanent Address:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="permenant" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div class="flex items-center">

                                                <div class="ml-4">
                                                    <div class="text-lg font-medium text-gray-900">
                                                        Nationality:
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 whitespace-nowrap">
                                            <div id="nationality" class="text-lg text-gray-900">Loading...</div>
                                        </td>

                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>


<script>

    function toggleDD(myDropMenu) {
        document.getElementById(myDropMenu).classList.toggle("invisible");
    }

    function filterDD(myDropMenu, myDropMenuSearch) {
        var input, filter, ul, li, a, i;
        input = document.getElementById(myDropMenuSearch);
        filter = input.value.toUpperCase();
        div = document.getElementById(myDropMenu);
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    window.onclick = function (event) {
        if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
            var dropdowns = document.getElementsByClassName("dropdownlist");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (!openDropdown.classList.contains('invisible')) {
                    openDropdown.classList.add('invisible');
                }
            }
        }
    }

</script>

</body>

</html>
