<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add assessment</title>
    <link rel="stylesheet" href="style.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="bg-green" style="text-align: center">

            <h2 style="width: 50%; margin: 0 auto; text-align: center">University Management System</h2>
            <h2 style="width: 50%; margin: 0 auto; text-align: center">Admin Menu</h2>
        </div>
     <div class="card-box">

         <div class="file-upload">
             <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add document</button>

             <form class="image-upload-wrap" enctype="multipart/form-data">
                 <input class="file-upload-input" type='file' onchange="readURL(this);" />
                 <div class="drag-text">
                     <h3>Drag and drop a file or select add document</h3>
                 </div>
             </form>
             <div class="file-upload-content">
                 <img class="file-upload-image" src="#" alt="your image" />
                 <div class="image-title-wrap">
                     <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                 </div>
             </div>
         </div>


        </div>
     </div>
     <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
     <script src="script.js"></script>
</body>
</html>